html {
    background-color: #bbbbbb;
    padding: 0px;
}
body {
    width: 80%;
    max-width: 800px;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #dddddd;
    border-color: #eeeeee;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}
p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    line-height: 1;
    margin: 4pt;
}
p.value-description {
    text-indent: -1em;
    margin-left: 20pt;
}
p.question {
    margin: 1em auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 90%;
    min-width: 90%;
    min-height: 9.5em;
    background-color: #eeeeee;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;

}
h1 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    text-align: center;
    line-height: 1em;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    line-height: 1em;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
li {
    font-size: 1em;
    text-indent: 1em;
}
a {
    font-family: inherit;
    color: inherit;
}
img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    /* min-width: 500pt; */
}
.shr {
    font-family: monospace;
}
.button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    width: 90%;
    /* min-width: 500pt; */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    margin: -2px auto;
    cursor: pointer;
}
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    width: 30%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 3em;
    line-height: 3em;
    padding: 0.5em;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    color: #222222;
    display: inline-block;
}
div.equality {
    background-color: #f44336;
    text-align: left;
    border-right-style: solid;
}
div.wealth {
    background-color: #00897b;
    text-align: right;
    border-left-style: solid;
}
div.liberty {
    background-color: #ffeb3b;
    text-align: left;
    border-right-style: solid;
}
div.authority {
    background-color: #3f51b5;
    text-align: right;
    border-left-style: solid;
}
div.peace {
    background-color: #03a9f4;
    text-align: right;
    border-left-style: solid;
}
div.might {
    background-color: #ff9800;
    text-align: left;
    border-right-style: solid;
}
div.progress {
    background-color: #9c27b0;
    text-align: right;
    border-left-style: solid;
}
div.tradition {
    background-color: #8bc34a;
    text-align: left;
    border-right-style: solid;
}
span.weight-300 {
    font-weight: 300;
}
canvas {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5em;
    display: block;
    margin: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
